<div>
  <a href="http://dribbble.com/devanflaherty" class="link" target="_blank"><i class="fa fa-dribbble"></i></a>
</div>
<div>
  <a href="http://twitter.com/devanflaherty" class="link" target="_blank"><i class="fa fa-twitter"></i></a>
</div>
<div>
  <a href="http://instagram.com/devanflaherty" class="link" target="_blank"><i class="fa fa-instagram"></i></a>
</div>
<div>
  <a href="https://medium.com/salt-agency" class="link" target="_blank"><i class="fa fa-medium"></i></a>
</div>
<div>
  <a href="https://plus.google.com/102247216278652272435" class="link" target="_blank"><i class="fa fa-google-plus-square"></i></a>
</div>
<div>
  <a href="https://facebook.com/saltagencymt" class="link" target="_blank"><i class="fa fa-facebook-square"></i></a>
</div>
