  <footer id="footer">
    <div class="row align-center align-middle">
      <div class="columns shrink">
        <img width="32" src="{{ site.assetUrl}}/images/touchmarks/Crown.png">
        <!-- <p class="vision">Make Waves</p>
        <h3>Salt</h3>
        <p class="vision">Defy Reason</p> -->
      </div>
      <div class="columns shrink branding">
        <img width="24" src="{{ site.assetUrl}}/images/touchmarks/shield.png">
      </div>
      <div class="columns shrink branding">
        <img width="32" src="{{ site.assetUrl}}/images/touchmarks/keys.png">
      </div>
    </div>
    <div class="row align-center align-middle">
      <div class="columns shrink branding">
        <span>MADE WITH SALT</span>
      </div>
    </div>
  </footer>

{% include components/connect.html %}
