{% if page.contrast == true %}
  {% assign contrastText = "contrast-text" %}
{% endif %}

{% if page.layout == 'showcase-single' %}
  {% assign projectPage = "project" %}
{% endif %}

{% if page.title == 'Home' %}
  {% assign resHeader = "home-header" %}
{% endif %}

  <header id="header" class="expanded flex {{ contrastText }} {{ projectPage }} {{ resHeader }}">
    {% if page.layout == 'showcase-single' %}
      <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/projects/{{ page.slug }}/background-image.jpg)"></div>
      <div class="overlay"></div>
    {% endif %}

    <section class="navigation">
      <h1 id="logoTag" class="peek">
        <a href="/">
          <img src="{{ site.assetUrl }}/images/design/drawn-logo-fill.png" width="60" alt="Salt : Logo">
          <span>salt</span>
        </a>
      </h1>

      <nav id="main-nav" class="peek">
        <div class="row expanded align-right">
          <ul class="columns shrink" data-show="show">
            {% include components/links.html %}
          </ul>
          <button class="columns shrink nav-toggle"><span></span></button>
        </div>
      </nav>
    </section>

    {% if page.layout == 'showcase-single' %}
      <section class="content row align-center no-pull colapse">
        <div id="subtitle" class="small-12 medium-10 columns">
          <h2 class="text-center">{{ page.title }}</h2>
        </div>
        <div id="headline" class="small-12 medium-6 columns text-center">
          <h6>{{ page.subtitle }}</h6>
        </div>
      </section>
    {% else if page.title == 'Home' %}

    {% else %}

      <section class="content row no-pull collapse">
        <div id="headline" class="small-10 medium-5 large-4 columns">
          <p>Crafting compelling stories executed through beautiful design, destined to make an impact.</p>
          {% if page.links %}
            <div class="links">
              {% for link in page.links %}
                <a class="button" href="{{ link.url }}">{{ link.value }}</a><br>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div id="subtitle" class="small-12 medium-7 large-8 columns">
          <h2>{{ page.statement }}</h2>
        </div>
      </section>
    {% endif %}

    {% if page.title != 'Home' %}
      <div class="go-down">
        <a href="#main" class="go-down-icon"></a>
      </div>
    {% endif %}

  </header>

  {% include components/full-nav.html %}
