<script src="/assets/js/vendor/jquery/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
<script src="/assets/js/vendor/scrollmagic/ScrollMagic.min.js"></script>
<script src="/assets/js/vendor/scrollmagic/animation.gsap.min.js"></script>
<script src="/assets/js/vendor/scrollmagic/debug.addIndicators.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.waitforimages/1.5.0/jquery.waitforimages.min.js" ></script>

<script src="/assets/js/app.min.js" ></script>

<script type="text/javascript">
  // find a link with the same class name as the page title and set it as active
  $(".{{ page.title }}Nav").addClass("active");
</script>

{% if page.title == 'Who' %}
<script src="/assets/js/vendor/instafeed/instafeed.min.js" ></script>

{% assign instaImage = '{{image}}' %}
{% assign instaLink = '{{link}}' %}
<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: '1311074',
    accessToken: '1311074.1677ed0.850de3502c084473b6465020511324b1',
    resolution: 'standard_resolution',
    limit: 5,
    template: '<div class="columns"><a href="{{instaLink}}" target="_blank"><img class="insta-link" src="{{instaImage}}" /></a></div>'
    //userId: '1940995648',
    //accessToken: '1940995648.1677ed0.b277c5ba0c4146f4b5ef4c213c00bb08'
  });
  feed.run();
</script>
{% endif %}

{% if page.title == 'Showcase' %}
<script src="/assets/js/vendor/jribbble/jribbble.min.js" ></script>
<script>
  $.jribbble.setToken('c7e2f0c3e73660bd7377b0e8eaca75e79aeb63e61796584ceaba9883c7cc6e58');
  $.jribbble.users('devanflaherty').shots().then(function(shots) {
    var html = [];
      var i = 0;
      shots.forEach(function(shot) {
        if (i === 8) return;
        i++;
        // See the Dribbble docs for all available shot properties.
        html.push('<div class="columns">');
        html.push('<a href="' + shot.html_url + '" target="_blank">');
        html.push('<img src="' + shot.images.normal + '">');
        html.push('</a></div>');
      });

      $('.shots').html(html.join(''));
  });
</script>
{% endif %}
