<!-- FOLLOW -->
<section id="instagram" class="white-bg">
  <article class="small-pad-medium">
    <div class="row align-center align-middle" style="padding-bottom: 60px;">
      <div class="small-11 medium-10 columns">
        <h6>
          In The Wild
        </h6>
      </div>
    </div>
    <div class="row align-center align-middle">

      <div class="columns small-11 medium-6 large-5">
        <p style="margin: 0;">Follow us and be current with our work, adventures, meet-ups and other such foolery.</p>
      </div>
      <div id="social-items" class="columns small-11 medium-4 large-5" style="margin-bottom: 0;">

        <div class="flex social-list sl-pop expanded columns text-center" style="padding: 0">
          {% include components/social.html %}
        </div>

      </div>
    </div>
  </article>
  <div class="row collapse expanded">
    <div class="small-12 columns">
      <div id="instafeed" class="row expanded collapse"></div>
    </div>
  </div>
</section>
