<section id="location" class="off-white-bg para-parent contrast-text">
  <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/images/location-pics/lakes.jpg)"></div>
  <div class="overlay" style="background: #1a1a1a; opacity: 0.5"></div>
  <div class="row align-center" style="padding-top: 100px;">
    <div class="small-11 medium-9 large-10 columns">
      <h6 style="position: relative">Location</h6>
    </div>
  </div>
  <article>
    <div class="row align-center align-middle small-pad-medium">
      <div class="columns small-11 medium-9 large-6" style="margin-bottom: 0;">
        <h3 class="stagger-up">The<br>Great<br>Northwest</h3>
      </div>
      <div class="columns small-11 medium-8 large-5">
        <p class="stagger-up">
          Salt is located in the greatest part of the Americas. We love that where we work we are minutes away form the lake, mountains, town, and adventure.
          We're constantly gifted the inspiration of what surrounds us and wouldn't trade it for the world.
        </p>
      </div>
    </div>
  </article>
</section>
