<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body class="404">
    <% include partials/template/header.ejs %>

    <main id="main">

      <!-- STATEMENT -->
      <section id="sailor" class="small-pad-medium off-white-bg">
        <div class="row align-center align-middle">
          <div class="small-11 medium-11 large-10 columns">
            <img id="skull-icon" class="drawicon" src="<%= assetUrl %>/images/design/skull.png" alt="skull">
            <h2 style="padding-bottom: 30px;">OH NO! A Mutiny!</h2>
          </div>
          <div class="small-11 medium-10 large-9 columns">
            <p>This thing happens from time to time, no need for anyone to get embarassed.
              You might have found yourself stranded on deserted island due to some minor
              navigation miscalculations or very possibly your crew has cried for a mutiny, and well, here you are.</p>
              <p>No need to strife. Below we've included some easy ways for you to get back to where you want to go.</p>
              <p>If the problem persists please tell us at <a href="mailto:hello@saltagency.co">hello@saltagency.co</a></p>
              <div class="row" style="margin-top:45px;">
                <div class="columns">
                  <a class="link" href="/">Home</a>
                </div>
                <div class="columns">
                  <a class="link" href="/showcase">Showcase</a>
                </div>
                <div class="columns">
                  <a class="link" href="/process">Process</a>
                </div>
                <div class="columns">
                  <a class="link" href="/process">Blog</a>
                </div>
              </div>
          </div>
        </div>
      </section>

      <!-- TALK -->
      <section id="talk" class="small-pad-medium talk">
        <div class="row align-center align-middle">
          <div class="small-11 medium-6 large-5 columns">
            <h2>We<br> Should<br> Talk</h2>
          </div>
          <div class="small-11 medium-5 large-5 columns">
            <h6>Contact</h6>

            <p>We won't pretend that it's a little embarassing you've wound up on this page, but we're optimistic.
            This could be a great opportunity for you to pick up your phone and give us a call. We're great conversationalist,
            and would love to partner with you on your next endeavor.</p>

          <div class="row">
            <div class="columns small-6 medium-12 large-6">
              <a href="mailto:hello@saltagency.co" class="link">hello@saltagency.co</a>
            </div>
            <div class="columns small-6 medium-12 large-6">
              <a class="tel link" href="tel:4803881741">480.388.1741</a>
            </div>
          </div>

          </div>
        </div>
      </section>

    </main>

    <% include partials/template/footer.ejs %>
    <% include partials/template/scripts.ejs %>
  </body>
</html>
