<section id="statement" class="white-bg">
  <div class="row align-center align-middle text-center vh">
    <div class="columns">
      <img id="{{ page.icon }}-icon" class="drawicon" src="{{ site.assetUrl }}/images/design/{{ page.icon }}.png" alt="{{ page.icon }}">

      <h4 class="hint">
        {{ page.hint }}
      </h4>
      <h2 class="brand-vision statement-pop">
        {{ page.statement }}
      </h2>
      <a class="button" style="margin-top:1.25rem;" href="{{ page.linkUrl }}">{{ page.linkValue }}</a>
    </div>
  </div>
</section>
