<section id="locpublication">
  <div class="row contrast-text">

    <div id="location" class="small-12 medium-6 column para-parent small-pad-medium">
      <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/images/location-pics/lakes.jpg)"></div>
      <div class="overlay" style="background: #1a1a1a; opacity: 0.5"></div>

      <div class="row align-center is-collapse-child">
        <div class="small-11 medium-9 large-10 columns">
          <h6 style="position: relative">Location</h6>
        </div>
      </div>

      <article>
        <div class="row align-center align-middle type-row is-collapse-child">
          <div class="columns small-11 medium-9 large-8 self-align-left">
            <div class="text-center">
              <i class="fa fa-map" style="color: #f4f4f4; font-size: 98px; margin-bottom: 1.25rem;"></i>
            </div>
            <h4 class="stagger-up">The<br>Great<br>Northwest</h4>
            <p>
              Salt is located in the greatest part of the Americas. We love that where we work we are minutes away form the lake, mountains, town, and adventure.
              We're constantly gifted the inspiration of what surrounds us and wouldn't trade it for the world.
            </p>
          </div>
        </div>
      </article>

    </div>

    <!-- MEDIUM -->
    <div id="publication" class="small-12 medium-6 column para-parent small-pad-medium">
      <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/images/design/church.jpg)"></div>
      <div class="overlay" style="background: #EB5544; opacity: 0.95"></div>

      <div class="row align-center is-collapse-child">
        <div class="small-11 medium-9 large-10 columns">
          <h6 style="position: relative">Publication</h6>
        </div>
      </div>

      <article>
        <div class="row align-center align-middle type-row is-collapse-child">
          <div class="columns small-11 medium-9 large-8 self-align-left">
            <div class="text-center">
              <i class="fa fa-medium" style="color: #f4f4f4; font-size: 98px; margin-bottom: 1.25rem;"></i>
            </div>
            <h4>Follow our publication on Medium</h4>
            <p>
              Sometimes we just need let off some steam, and we do that best through writing.
              Articles on creativty, design, web development, leadership, or our theories on what we're watching,
              our publication has a little bit of everything, for everyone.
            </p>
            <a href="https://medium.com/salt-agency" class="link">View our Medium</a>
          </div>
        </div>
      </article>

    </div>
  </div>
</section>
