<!-- MEDIUM -->
<section id="publication" style="padding: 0!important;">
  <div class="row">
    <div class="column para-parent small-pad-medium contrast-bg contrast-text">
      <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/images/design/church.jpg)"
      ></div>
      <div class="overlay" style="background: #EB5544; opacity: 0.95"></div>
      <div class="row align-center align-middle type-row">
        <div class="columns small-11 medium-9 large-8 self-align-left">
          <div class="text-center">
            <i class="fa fa-medium" style="color: #f4f4f4; font-size: 98px; margin-bottom: 20px;"></i>
          </div>
          <h4>Follow our publication on Medium</h4>
          <p>
            Sometimes we just need let off some steam, and we do that best through writing.
            Articles on creativty, design, web development, leadership, or our theories on what we're watching,
            our publication has a little bit of everything, for everyone.
          </p>
          <a href="https://medium.com/salt-agency" class="link">View our Medium</a>
        </div>
      </div>
    </div>
  </div>
</section>
