<section id="type" class="off-white-bg">
  <div class="row align-center" style="padding-top: 100px;">
    <div class="small-11 medium-9 large-10 columns">
      <h6>The work we do</h6>
    </div>
  </div>
  <section class="white-bg">
    <article class="off-white-bg small-pad-medium medium-pad-large">
      <div class="row align-center align-middle type-row">
        <div class="columns small-11 medium-9 large-5" style="margin-bottom: 0;">
          <h3>{{ site.data.worktype[0].title }}</h3>
          <h4>{{ site.data.worktype[0].subtitle }}</h4>
        </div>
        <div class="columns small-11 medium-8 large-5">
          <p>
            {{ site.data.worktype[0].content }}
          </p>
          <a href="{{ site.data.worktype[0].linkUrl }}" class="button tertiary">{{ site.data.worktype[0].linkValue }}</a>
        </div>
      </div>
    </article>

    <article id="brand" class="contrast-bg contrast-text para-parent small-pad-medium medium-pad-large">
      <div class="parallax invisible" style="background-image: url({{ site.assetUrl }}/images/brand-tile.png)"
      ></div>
      <div class="overlay" style="background: #1a1a1a; opacity: 0.33"></div>
      <div class="row align-center align-middle type-row">
        <div class="columns small-11 medium-9 large-9 text-center-large" style="margin-bottom: 0;">
          <h3>{{ site.data.worktype[1].title }}</h3>
          <h4>{{ site.data.worktype[1].subtitle }}</h4>

        </div>
        <div class="columns small-11 medium-8 large-7 self-align-left">
          <p>
            {{ site.data.worktype[1].content }}
          </p>
          <a href="{{ site.data.worktype[1].linkUrl }}" class="button tertiary">{{ site.data.worktype[1].linkValue }}</a>
        </div>
      </div>
    </article>

    <article class="off-white-bg small-pad-medium medium-pad-large"><!-- small-pad-medium-->
      <div class="row align-center align-middle type-row">
        <div class="columns small-11 medium-9 large-6" style="margin-bottom: 0;">
          <h3>{{ site.data.worktype[2].title }}</h3>
          <h4>{{ site.data.worktype[2].subtitle }}</h4>

        </div>
        <div class="columns small-11 medium-8 large-5">
          <p>
            {{ site.data.worktype[2].content }}
          </p>
          <a href="{{ site.data.worktype[2].linkUrl }}" class="button tertiary">{{ site.data.worktype[2].linkValue }}</a>
        </div>
      </div>
    </article>
  </section>
</section>
