<!DOCTYPE html>
<html>
  <head>
    {% include template/head.html %}
    <style>
      #main-nav li a:hover {
        border-color: {{ page.primaryColor }}!important;
      }
      .overlay {
        background-color: {{ page.primaryColor }}!important;
      }
      blockquote {
        border-color: {{ page.primaryColor }}!important;
      }
      ::-moz-selection { background: {{ page.primaryColor }}!important; }
      ::selection { background: {{ page.primaryColor }}!important; }
    </style>
  </head>
  <body id="project" class="{{ page.title }}">
    {% include template/header.html %}

    <main id="main">
      <!-- PROJECT DETAILS -->
      <section id="project" class="small-pad-medium off-white-bg">
        <div class="row align-center align-middle text-center">
          <div class="small-11 medium-6 columns">
            <h5>
              {{ page.excerpt }}
            </h5>
          </div>
        </div>
      </section>

      <!-- CONTENT -->
      <section id="contentBody">
        {{ content }}
      </section>

      <!-- SCOPE -->
      <section id="credits" class="off-white-bg">
        <div class="row align-center expanded">
          <div id="team" class="small-12 medium-6 columns small-pad-medium medium-pad-large"
          style="background-color: {{ page.primaryColor }}">
            <div class="row expanded align-center">

              {% if page.team.length >= 2 %}
                {% assign teamSizeAttr = "", "", "large-6" %}
              {% elsif page.team.length == 1 %}
                {% assign teamSizeAttr = "text-left medium-text-right", "align-right", "" %}
              {% endif %}
              <div class="small-9 medium-10 columns {{ teamSizeAttr[0] }}">
                <h3>Team</h3>
                <div class="row {{ teamSizeAttr[1] }}">
                  {% for member in page.team %}
                    <div class="small-12 {{ teamSizeAttr[2] }} columns">
                      <h5>{{ member.position }}</h5>
                      <h4>{{ member.name }}</h4>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div><!-- close team -->
          <div id="scope" class="small-12 medium-6 columns small-pad-medium medium-pad-large">
            <div class="row expanded align-center">
              <div class="small-9 medium-10 columns">
                <h3>Services</h3>
                {% for scope in page.scope %}
                  <div><span>{{ scope.label }}</span></div>
                {% endfor %}
              </div>
            </div>
          </div><!-- close scope -->
        </div>
      </section>

      <!-- PROJECT FOOTER -->
      <section class="small-pad-medium secondary-bg">
        <div class="row align-center text-center">
          <div class="small-9 columns">
            <h3>Back to the goods</h3><br>
            <a class="link" href="/showcase">Showcase</a>
          </div>
        </div>
      </section>
    </main>

    {% include template/footer.html %}
    {% include template/scripts.html %}
  </body>
</html>
